@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #141519;
}
.container {
  width: 300px;
  height: 330px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  margin-top: 12%;
  background: #1e252f;
}
.icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #262f38;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon.active {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
}

.icon:hover {
  background: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
icon:focus {
  background: hsl(217, 12%, 63%);
  color: hsl(0, 0%, 100%);
}
h3,
p,
div,
button {
  color: white;
}
p {
  font-size: 13px;
}
.rating-circle {
  display: flex;
  justify-content: space-around;
}
.icon:hover.p {
  font-size: 15px;
}
button {
  padding: 10px 100px;
  display: flex;
  margin: 20px 0;
  background: #fc7613;
  border: none;
  border-radius: 15px;
  letter-spacing: 0.1em;
}
button:hover {
  background: #fff;
  color: #fc7613;
  cursor: pointer;
}
.content-box {
  background: #1e252f;
}
p,
.rating-circle {
  margin-top: 20px;
}
h3 {
  /* font-family: Arial, Helvetica, sans-serif; */
  margin-top: 20px;
}

.center {
  position: absolute;
  top: 0;
  left:38.3%;
}
.popup{
  width: 300px;
  height: 330px;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: auto;
  border-radius: 20px;
  margin-top: 12%;
  background: #1e252f;
  display:none
  /* transform:translate(-50%, -50%) scale(0.5) */
}

h2{
  text-align: center;
  margin-top: 50px;
}
.popup.active{
  display:block
}